* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat-Regular";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/Montserrat-Regular.ttf");
}

.text {
    display: flex;
    justify-content: center;
    /* text-align: center; */
    font-size: 20px;
    font-family: "Montserrat-Regular";
}

.logo {
    display: flex;
    justify-content: center;
}